*, *::before, *::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html,
body {
	height: 100vh;
	font-weight: bold;
	font-size: 1.5rem;
}

ul {
	display: grid;
	place-items: center;
	list-style: none;
	height: 100vh;
	width: 100%;
	grid-template-columns: repeat(3, 1fr);
}

li {
	border: 2.5px solid #727272;
	background: #F7F7F7;
	border-radius: 10px;
	width: 300px;
	height: 550px;
	display: grid;
	place-items: center;
	grid-template-rows: 1fr 2.5fr;
}

span {
	height: 100%;
	width: 220px;
	padding: 50px;
}

span.i-html {
	background: url('0-sprite.png') no-repeat -30px -40px;
}

span.i-css {
	background: url('0-sprite.png') no-repeat -320px -40px;
}

span.i-js {
	background: url('0-sprite.png') no-repeat -610px -40px;
}

/* ul {
	display: flex;
	justify-content: flex-start;
	list-style: none;
}

li {
	padding-top: 1.5rem;
	height: 34rem;
	width: 23rem;
	font-weight: bold;
	font-size: 3rem;
	text-align: center;
	border: 2.5px solid #8D8D8D;
	border-radius: 0.5rem;
	background-color: #F7F7F7;
}

ul li + li {
	margin-left: 3.5rem;
}

span {
	display: block;
	margin-top: 4rem;
	margin-right: auto;
	margin-left: auto;
}

.i-html {
	background: url('0-sprite.png') no-repeat -30px -40px;
	width: 221px;
	height: 311px;
}

.i-css {
	background: url('0-sprite.png') no-repeat -319px -40px;
	width: 221px;
	height: 311px;
}

.i-js {
	background: url('0-sprite.png') no-repeat -609px -40px;
	width: 221px;
	height: 311px;
} */